<div class="box bg-black flex justify-between m-4 p-4 rounded-lg">
    <div class="max-w-sm p-6 mx-auto rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-full w-96 border border-gray-100" src="../../assets/image.png" alt="image description">
    </div>
    <div class="text-2xl mx-auto">
        <h1 class="text-white event">I' am Ruwan Dilhara</h1>
        <img src="https://readme-typing-svg.demolab.com?font=Fira+Code&weight=500&size=28&letterSpacing=&pause=1000&color=28ED54&width=435&lines=Full+Stack+Developer;Always+learning+new+things;Graphic+Designer" alt="Typing SVG" />
    </div>
</div>